 /* font  */
<style>
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
</style>

/* common style  */

body{
	background-color: red;
	font-family: 'Poppins', sans-serif;;
}
main{
	display: flex;
	align-items: center;
	flex-direction: column
}
.container{
	background-color: #F3F1FF;
	width: 870px;
	padding: 30px;
	border-radius: 5px;
	margin-top: 21px;
}
/* header style  */

 
 /* top players style  */
 .section-title{
	 color: #562EFF;
	 font-size: 24px;
	 margin-top: 3px;
	 
 }
   .players{
	 display: grid;
	 grid-template-columns: repeat(3, 1fr);
	 grid-row-gap: 30px;
 }
 .player{
	 display: flex;
	 align-items: center;
 }
 .player img{
	width: 65px;
	height: 65px;
 }
 .player-name{
	 margin-left: 16px;
	 font-size: 18px;
 }
 hr{
	 margin-top: 30px;
	 margin-bottom: 30px;
 }

 /*------------
   top blogs style 
 -------------- */

 .blogs{
	 display: grid;
	 grid-template-columns: repeat(2, 1fr);
	 grid-row-gap: 26px;
 }
 .blog{
	 display: flex;
 }
 .blog .thumbnaill img{
	width: 177px;
	height: 117px;
 }
 .blog-details{
	 margin-left: 16px;
 }
 .blog-title{
	 font-size: 20px;
 }
 .blog-author{
	 font-size: 16px;
 }
 .blog-author a{
	 text-decoration: none;
	 font-size: 16px;
	 color: #562EFF;
 }

 /*-------------------------
     courses style 
  -------------------------*/

  .course{
	  display: grid;
	  grid-template-columns: repeat(3, 1fr);
 }
  .course-baner{
	  width: 252.42px;
	  border-radius: 10px;
  }
  .course-baner:hover{
	box-shadow: 1px 1px 1px gray;
  }
  .course .course-baner img{
	  width: 224px;
	  height: 104px;
  }
  .course-info{
	  display: flex;
	  align-items: center;

  }
  .fa-star{
	  width: 12px;
	  height: 11px;
	  padding-left: 5px;

  }
  .fa-star.filled{
	  color: gold;
  }
  .fa-star.eamty{
	  color: 
	  #AEAEAE;
  }
  .course-duretion{
	  color: #FF4A60;
	  background: #FFE4E8;
	  border-radius: 14.6913px;
	 margin-left: 30.72px;
	 padding: 5px;
  }